<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <title>Sign Up</title>
  <link href="{{ url_for('static', filename='Sign_Up_Style.css') }}" rel="stylesheet">
</head>
<body>
  <h1>Sign Up</h1>
  <form method="POST">
    
    <div class="Container">
      <input name="Name" type="text" placeholder="Enter Your Name" required><br>
      <input name="Email" type="email" placeholder="Enter Your Email" required><br>
      <h6>{{ Error_Message }}</h6>
      <input name="Password" type="password" placeholder="Enter Your Password" required><br><br>
      <input type="submit" value="Sign Up"><br>
    </div>
    
  </form>
  
  <div class="Container2">
    <a href="/">Already have an Account? Sign In</a>
  </div>
  
</body>
</html>