<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link href="{{ url_for('static', filename='Sign_In_Style.css') }}" rel="stylesheet">
  <title>Sign In</title>
</head>
<body>
  <h1>Sign In</h1>
  <form method="POST">
 
    <div class="Container">
      <input name="Email" type="email" placeholder="Enter Your Email" required>
      <input name="Password" type="password" placeholder="Enter Your Password" required>
      <h6>{{ Error_Message }}</h6><br>
      <input type="submit" value="Sign In"><br>
    </div>
    
  </form>
  <div class="Container2">
    <a href="/Sign_Up">I Don't Have an Account</a>
  </div>
</body>
</html> 